.user-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;

  .user-item__content {
    padding: 0;

    a {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
      padding: 1rem;
      color: var(--white);
      background: var(--bg1);

      .user-item__img {
        width: 4rem;
        height: 4rem;
        margin-right: 1rem;
      }

      .user-item__info {
        h2 {
          font-size: 1.5rem;
          margin: 0 0 0.5rem 0;
          font-weight: normal;
          color: var(--secondary-accent);
        }
        h3 {
          margin: 0;
        }
      }
    }

    a:hover,
    a:active {
      transition: 0.4s;
      background: var(--secondary-accent);

      .user-item__info {
        h2,
        h3 {
          transition: 0.4s;
          color: var(--bg1);
        }
      }
    }
  }
}
