@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

/* variables */

:root {
  /* colours */

  --primary: #ff0055;
  --primary-light: #ff4382;
  --secondary: #f8df00;
  --secondary-accent: #ffd900;
  --bg1: #292929;
  --white: white;
  --grey: #ccc;
  --offwhite: #f8f8f8;
  --offwhite2: #ebebeb;

  --danger: #830000;
  --danger-light: #f34343;

  --purple: #510077;
  --red: red;
  --pink-light: #ffd1d1;

  /* fonts */
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background: #4d4d4d;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
