/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap'); */

@font-face {
  font-family: 'Rimouski Light';
  src: url('./assets/fonts/rimouski_light/rimouski_light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Isidora Soft';
  src: url('./assets/fonts/isidora_soft/isidora_soft_medium.woff')
    format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Isidora Soft';
  src: url('./assets/fonts/isidora_soft/isidora_soft_regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* colours */

  --primary: #be2a40;
  --primary-light: #f34f5d;
  --secondary-accent: #fee47b;
  --secondary: #ece0c6;
  --highlight: #850222;
  --bg1: #292929;
  --bg2: #fff2ea;
  --brown: #db9596;

  --white: white;
  --grey: #ccc;
  --grey-dark: #979797;
  --offwhite: #f8f8f8;
  --offwhite2: #ebebeb;
  --purple: #510077;
  --red: red;
  --pink-light: #ffd1d1;

  --danger: #830000;
  --danger-light: #f34343;
  --shadow: rgba(0, 0, 0, 0.26);

  /* fonts */

  /* --font-main: 'Open Sans', sans-serif; */
  /* --font-main: 'Red Hat Display', sans-serif; */
  --font-main: 'Isidora Soft', sans-serif;
  --font-editorial: 'Rimouski Light', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-main);
}

body {
  margin: 0;
  /* background: #4d4d4d; */
  background-color: var(--secondary);
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
